$background-color-button: rgb(77, 75, 75);
$text-color-button: white;
$hover-color-button: rgb(53, 51, 51);
$popup-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
$popup-background-color: rgba(0, 0, 0, 0.5);
$popup-color: white;
$table-background-color: white;
$table-box-shadow: 2px 2px 7px gray;
$form-box-shadow: 2px 2px 7px gray;
$form-background-color: white;

$mat-error-font-size: 12px;